body {
  background-color: #eaeef3;
}

.mb-4{
  padding: 2px;
  margin: 10px;
}

.form-group {
  margin: auto;
  width: 40%;
  border-radius: 3px;
}

.form-control{
  text-align: center;
}

.menu-header{
  color: #FFF !important;
}


button{
  background-color: #0d6dfdde;
  padding: 8px;
  border-radius: 6px 7px;
}
button:hover{
  background-color:#0D6EFD ;
  transform: rotate(360deg);
  transition: 0.2s;
}

.btn-log a{
  text-decoration: none;
  color: #FFF;
  font-weight: bold;
}

.sidebar{
  background-color: #222c3c;
  min-width: 250px;
  max-width: 250px;
  min-height: calc(100vh - 56px);
  transition: 0.5s;
  
}
.sidebar ul li a{
  display: block;
  padding: 0.75rem 1rem;
  color: #c7cace;
  text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a{
  color: #ecedee;
  background-color: #354358;
}
.sidebar ul ul a{
  padding-left: 2.5rem;
  background-color: #1e2835;
}

.toggle-sidebar{
  margin-left: -250px;
}

.toggle{
  padding: 0.75rem;
  cursor: pointer;

}
.toggle.active{
  position: relative;
  color: #354358;
  transition: 0.5s;
  transform: rotate(360deg);

}
.d-flex.active{
  margin-left: -250px;
  transition: 0.5s;
  
}
.sidebar.active{
  content: attr(list-unstyled);
}

@media (max-width: 768px){
  .sidebar{
      margin-left: -250px;
  }
  .toggle-sidebar{
      margin-left: 0px;
  }
  .d-flex.active{
    margin-left: 250px;
  }
  
}


.sidebar [data-bs-toggle="collapse"]{
  position: relative;
}
.sidebar [data-bs-toggle="collapse"]:before{
  content: "\f0d7";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  position: absolute;
  right: 1rem;
}
.sidebar [aria-expanded="true"]{
  background-color: #19222d;
}
.sidebar [aria-expanded="true"]:before{
  content: "\f0d8";
}

.content{
  width: 100%;
}
.titulo{
  font-size: 2.0rem !important;
}






















































































































































































  